* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
main {
  position: relative;
  display: flex;
}
:root {
  background-repeat: no-repeat;
  background: linear-gradient(135deg, #43cbff, #9708cc);
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  top: 55px;
  left: 165px;
  height: 690px;
  width: 1200px;
  background-color: #fff;
  border-radius: 20px;
  border-color: black;
}

.container2 {
  position: relative;
  top: 55px;
  left: 165px;
  margin-right: 600px;
  height: 690px;
  width: 1200px;
  background-color: #fff;
  border-radius: 20px;
  border-color: black;
}
.med1 {
  position: relative;
  top: 20px;
  left: 50px;
  width: 230px;
  height: 100px;
}

.med2 {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 160px;
  left: 100px;
}

.login2 {
  position: relative;
  left: 350px;
  width: 470px;
  height: 500px;
  border: 1px solid #000000;
  margin-left: 300px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}

.login3 {
  position: relative;
  top: -55px;
  left: 350px;
  margin: fixed;
  margin-right: 300px;
  width: 490px;
  height: 580px;
  border: 1px solid #000000;
  margin-left: 300px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
}

.text {
  justify-content: center;
  font-family: Times New Roman;
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  margin-left: 45px;
  margin-top: -50px;
  letter-spacing: 0em;
  color: #080c66;
}
.text2 {
  justify-content: center;
  font-family: Alike Angular;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
}

form .input-box {
  justify-content: center;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

form .input-box input {
  justify-content: center;
  padding-left: 15px;
  width: 100%;
  height: 110%;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
}

form .input-box .underline {
  position: relative;
  left: 240px;
}
form .input-box button {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 12px;
  border: 1px solid #000;
  left: 8px;
  background: linear-gradient(135deg, #ea5455 0%, #3874ea 0.01%);
  color: #fff;
  font-family: Alike Angular;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form .input-box button:active {
  background: #3061c3;
}

form .button {
  justify-content: center;
  margin: 40px 0 20px 0;
}
.input-box input[type="submit"] {
  justify-content: center;
  background-color: blue;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  font-family: Alike Angular;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form .input-box p {
  margin-top: 8px;
  text-align: center;
}

.error-message {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 17px;
  color: red;
}

form .input-box .link {
  text-decoration: none;
}

@media (width <= 768px) {
  .container {
    top: 5vh;
    padding: 10px;
    width: 700px;
    top: 150px;
    left: 80px;
  }
  .container2 {
    top: 5vh;
    padding: 10px;
    top: 150px;
    width: 600px;
    height: 790px;
    left: 3px;
  }

  .med1 {
    height: 0%;
    width: 0%;
  }
  .med2 {
    height: 0%;
    width: 0%;
  }
  .login2 {
    top: 60px;
    left: -190px;
  }
  .login3 {
    top: 60px;
    left: -297px;
    width: 590px;
    height: 680px;
  }
}


